#n1{
    font-size: 50px;
    font-family:'Cambria';
    margin-top: 20px;
}
#col1{
    background-color:cadetblue;
    height:200px;
    width: 3000px;
    color:white;
    font-family: 'cambria';
}
#Web{
    font-size: 30px;
    font-family: 'cambria';
    margin-bottom: 10px;
    
}
#n2{
    color:cadetblue;
}
 #n3{
    color:cadetblue;
 }
 #n4{
    color:cadetblue;
 }
 #n5{
    color:cadetblue;
 }
 #n6{
    color:cadetblue;
 }